#contactMePage,
#aboutMePage,
#projectsPage {
    visibility: hidden;
}

body {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns: 0 / 1;
    grid-template-rows: 3fr;
    size: 100%;
}

nav,
#projects,
.background,
.projectOne,
.projectThree {
    background-color: rgba(225, 225, 0, .5) ;
}

nav ul {
    list-style: none;
    padding-left: 0;
    display: flex;
}

nav ul li {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 25%;
}
a:link, a:visited {
    text-decoration: none;
    color:rgba(136, 255, 221);
}

#mainPage {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr 2fr 2fr 2fr;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#mainPage h1 {
    height: 30px;
    grid-row: 1 / 2;
}

#mainPage section {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}

#projects {
    flex-direction: row-reverse;
}

#mainPage img {
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
}

#aboutMe,
#contactMe,
.goals,
.projectTwo,
#emailList {
    background-color: rgba(175, 251, 229, .75);
}

#aboutMePage {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#aboutMePage h2 {
    font-size: 20px;
    text-decoration: none;
}

header, #aboutMePage section {
    padding: 30px;
}

#projectsPage {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

/* #projectsPageGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
} */

#projectsPage section {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
    size: 100%;
}

#projectsPage img {
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
}

.projectTwo {
    flex-direction: row-reverse;
}

#contactMePage {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#emailList {
    margin: 20px 0;
    padding: 20px 0;
}

@media screen and (min-width:400px) {
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 40px;
    }
    p, li {
        font-size: 20px;
    }
    h3 {
        font-size: 30px;
    }
    #mainPage img,
    #projectsPage img {        
        max-width: 200px;
        max-height: 200px;
    }
    #projectsPage section h3 {
        font-size: 40px;
    }
}

@media screen and (min-width:768px) {
    h1 {
        font-size: 70px;
    }
    h2 {
        font-size: 50px;
    }
    p, li {
        font-size: 30px;
    }
    h3 {
        font-size: 40px;
    }
    #mainPage img,
    #projectsPage img {
        max-width: 250px;
        max-height: 250px;
    }
    #projectsPage section h3 {
        font-size: 60px;
    }
}

@media screen and (min-width:1200px) {
    h1 {
        font-size: 90px;
    }
    h2 {
        font-size: 70px;
    }
    p, li {
        font-size: 50px;
    }
    h3 {
        font-size: 60px;
    }
    #mainPage img,
    #projectsPage img {
        max-width: 300px;
        max-height: 300px;
    }
    #projectsPage section h3 {
        font-size: 80px;
    }
}