#mainPage,
#aboutMePage,
#contactMePage {
    visibility: hidden;
}

body {
    text-align: center;
    display: grid;
    grid-template-columns: 0 / 1;
    grid-template-rows: 4fr;
    size: 100%;
}

nav ul {
    list-style: none;
    padding-left: 0;
    display: flex;
}

nav ul li {
    padding: 10px;
}

#mainPage {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 3fr;
}

.header {
    display: flex;
    margin: 25px 5px;
}

.header img {
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
}

.header p {
    margin-left: 20px;
}

#aboutMePage {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#aboutMePage h2 {
    font-size: 20px;
    text-decoration: none;
}

#aboutMePage div {
    margin: 20px 0;
    padding: 20px 0;
}

#projectsPage {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#projectsPage section {
    display: flex;
}

#projectsPage img {
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
}